%p
  Hi Admin
%p
  = "On #{@data[:date_time]} a new category '#{@data[:suggest_catr]}' has been submitted by #{@data[:firstname]} #{@data[:lastname]}  at #{@data[:email]} on Step 4: Choose a Categories when create a new promotion that you are moderating."
  %br
  Thanks for administrating this category.
  %br
%p 
  Regards,
  %br 
  U-IN Team