%p
  = t(".hello", :email => @resource.email)
%p= t(".request_msg")
%p= link_to t(".change_my_pass"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t(".dont_want_msg")
%p= t(".dont_change_until_msg")
%p Regards,
U-IN Team

