!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}/
    %title= t("application.title_app")
    = stylesheet_link_tag    "application", media: "all"
    = render 'layouts/js_setup'
    = javascript_include_tag "application"
    = csrf_meta_tags
    = include_gon 

  %body{"ng-app" => "uinApp"}
    - if need_header?
      = render "layouts/header"
    .wrapper-main-container
      -# .container
      -#   .row
      -#     .col-md-12
            -# -if user_signed_in?
            -#   %p.text-center
            -#     =t("sign_msg", :email => current_user.email )
            -#     = link_to t("sign_out"), auth_destroy_path, class: "btn btn-small"
            -# = form_notice_alert!
      #error_crud_here
      = yield
    .overlay-act.hide
  = render "layouts/footer"

%script
  var key=  "#{ENV['FACEBOOK_APP_ID']}"