!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}/
    %title= t("application.title_app")
    = stylesheet_link_tag    "application", media: "all"
    = render 'layouts/js_setup'
    = javascript_include_tag "https://js.stripe.com/v2/"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "angular-fullcalendar"
    = include_gon

  %body{"ng-app" => "uinApp"}
    - if need_header?
      = render "layouts/header"
    .wrapper-main-container
      #error_crud_here
      = yield
    .overlay-act.hide
  - unless controller_name == "registrations" || controller_name == "sessions"
    = render "layouts/footer"

%script
  var key=  "#{ENV['FACEBOOK_APP_ID']}"